<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- 공유시 보이는 메타태그-->
    <meta property="og:title" content="S.B.S 긴급속보!" />
    <meta property="og:description" content="S.B.S 팀원들을 소개합니다!" />
    <meta property="og:image" content=url(..\static\ogimage.png) />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- bootstrap CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    



    <title>{% block title %}여기에 타이틀을 적으세요!{% endblock %}</title>

    <!-- css가져오기 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/myo_base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/myo_home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/myo_profile.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/myo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/detail.css') }}">

  </head>

  <body>
    <!-- bootstrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- home.js -->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/myo.js') }}"></script>

    <!-- header -->
    <header style="background-color: black">
      <nav class="navbar navbar-dark bg-dark fixed-top"  style="background-color: black;   border-color: #000;">
        <div class="container-fluid black">
          <a class="navbar-brand" href="/"><img src='/static/img/sbs.png' style="width: 50px; height: 30px; margin-left: 5px;"></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- 네비게이션 내부 -->
          <div
            class="offcanvas offcanvas-end text-bg-dark"
            tabindex="-1"
            id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel"
          >
            <!-- 네비게이션 내부 헤더 -->
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
                <img src='/static/img/sbs.png' style="width: 50px; height: 30px; margin-left: 5px;">Seventeen B Seven
              </h5>
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <!-- 네비게이션 내부 바디 -->
            <div class="offcanvas-body">
              <div class="myo_navbar_profile_box">
               <!-- 구민정 프로필 -->
                <div
                  class="myo_navbar_profile"
                  onclick="location.href='/gmj'"
                >
                <text style="font-size: x-large">구민정</text>
                <img src="https://ca.slack-edge.com/T043597JK8V-U04NKRTPDQF-7df8daae63ee-512">
                <!-- <text style="margin: 10px">그러게요! 하하!</text> -->
                </div>
               
               <!-- 문영오 프로필 -->
                <div
                  class="myo_navbar_profile"
                  onclick="location.href='/myo'"
                >
                  <img src="https://ca.slack-edge.com/T043597JK8V-U04PJJV81AQ-f3d8bde4eb4a-512" />
                  <text style="font-size: x-large">문영오</text>
                  <ul>
                    <!-- <text style="margin: 10px">그러게요! 하하!</text> -->
                  </ul>
                </div>
              
                <!-- 왕규원 프로필 -->
                <div
                  class="myo_navbar_profile"
                  onclick="location.href='/wgw'"
                >
                  <text style="font-size: x-large">왕규원</text>
                  <img src="https://ca.slack-edge.com/T043597JK8V-U04NZH1BG3U-16192aeb9f5d-512" />
                  <ul>
                    <!-- <text style="margin: 10px">하하하하</text> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section class="body">
      <!-- contents -->
      {% block contents %}
      여기에 내용을 적으세요!
      {% endblock %}
    </section>

    <!-- footer -->
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top"
      style="background-color: black"
    >
      <div class="col-md-4 d-flex align-items-center black">
        <a
          href="/"
          class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
        >
          <svg class="bi" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2023 S.B.S. in sparta</span>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3" style="margin-right: 100px">
          <a
            href="https://github.com/myo-05/AI-5_B7_Team.git"
            target="_blank"
            style="color: white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-github"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
              /></svg
          ></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
