{% extends "base.html" %} {% block title %}문영오 프로필{% endblock %}

<!-- contents -->
{% block contents %}

<!-- 백그라운드 동영상 -->
<div class="last">
<section class="video">
  <video loop autoplay muted width="100%" src="\static\img\ex.mp4"></video>

  <section class="video_inner">
    <!-- 이름 -->
      <div><text>문영오</text></div>
    <!-- 버튼들 -->

      <ul class="buttons">
        <button class="mbti" id="mbti"><text style="position: relative; top: -30px;">#ENTP</text></button>
        <button class="github" onclick="window.open('http://github.com/myo-05');"></button>
        <button class="like" onclick="location.href='/detail';"></button>
        <!-- <button class="mute"></button> -->
        <div class="introduce">
          <div style="font-size:x-large">
          #S.B.S조 #ENTP #스파르타 #영화 #드라마 #만화<br>
          #워쩌다 조장 나부랭이 #어렵지만 재밌는 코딩<br>
          #해치지않아요 #같이해요 #가치있게
          </div>

          <br>안녕하세요. 저는 문영오입니다!
          <br>MBTI는 이렇게 나왔지만, 마음만 먹으면 얼마든지 바뀔수있어요!
          <br>제가 드라마 영화 만화를 좋아했었군요..! 하하!! 저는 음악이 더 좋아요..!
        </div>
      </ul>
      <!-- <div class="mbti_disc_off" id="mbti_disc" style="background-image: url(https://s3.ap-northeast-2.amazonaws.com/cdn.supremestudyabroadtool.com/20220519/GtKU0NSTF3WrWQp.png);"></div> -->
    </section>
  </section>
</div>

      <div class="myo_line">
        <div class="myo_logo"></div>
        <text style="display: block; position: relative; top: 15px;">유제한으로 즐기세요</text>
      </div>
    

  <section class="mmyo_content">
    <!-- 동영상 앞 -->
    <div class="tmis">
        <P class="tmi">TMI</P>
        <br>
        <p>★ Seventeen(17) B Seven(B-7) 라서 S.B.S 조에요..! </p>
        <p>★ 저는 칠칠맞조 하려고 했는데 기각당했어요..</p>
        <p>★ 블루베리를 좋아합니다. 사회화 패치된 ENTP에요.</p>
    </div>
    <div class="hobby">
      <p>●취미: 기타연주 운동 레코딩 코딩?!</p>
      <p>●특기: 오디오채우기 a.k.a TMT </p>
      <p>●좌우명: "쉬운 일은 없다, 그러나 안되는 일도 없다!"</p>
    </div>
  </section>

  <section class="posts">
    
  <ul>
    <div class="post">
      <div class="detail_box" style="top: 0;">
        <div class="img_box"><img src="\static\img\gmj_main_1missing.jpg">
        </div>
        <div class="description">
          <section class="title_line">
            <text class="title">미씽: 그들이 있었다1</text>
          </section>
          <div class="content">
            <text>최근에 시즌1 정주행 후 시즌2도 이어서 정주행 시작함!<br>
              실종되어 시체를 찾지 못한 사람들이 사는 마을을 드나드는 인간 2명이
              그 마을 사람들의 시체를 찾아 마을에서 벗어나 진짜 하늘로 갈 수 있게 하는
              그런 내용이다.<br>
              여러 에피소드들로 진행되어 지루하지 않고 천천히 정주행하기 딱 좋은 드라마다.<br>
            </text>
          </div>
        </div>
      </div>  
    </div>
  
    <div class="post">
      <div class="detail_box" style="top: -75px;">
        <div class="img_box"><img src="static\img\gmj_main_2ssam.jpg"></div>
        <div class="description">
          <section class="title_line">
            <text class="title">쌈마이웨이</text>
          </section>
          <div class="content">
            <text>
              가볍게 보기 좋은 로코!<br>
              위 자기소개에서 봤듯 보면 금방 잊어버려서 내용은 거의 생각 안 난다.<br>
              대충 드라마의 분위기와 배우 김지원의 애교만이 기억에 남는다.<br>
              미씽2 다 보면 정주행할까 생각 중!<br>
            </text>
          </div>
        </div>
      </div>  
    </div>

    <div class="post">
      <div class="detail_box" style="top: 30px;">
        <div class="img_box"><img src="\static\img\gmj_main_3suldonyeo.jpg"></div>
        <div class="description">
          <section class="title_line">
            <text class="title">술꾼도시여자들1</text>
          </section>
          <div class="content">
            <text>사실 나는 머리 아픈 드라마는 안 좋아한다.<br>
              가볍게 밥 먹으면서 볼 수 있는 드라마가 좋다.<br>
              술도녀도 세세한 에피소드는 기억이 안 나고 난 지구라는 캐릭터가 너무 좋다.<br>
              말투나 성격이 넘 좋다.<br>
              친구로 안 만나서 다행인 것 같다 친구였음 짝사랑 오지게 하고 상처 받으면서도 못 놓았을 듯.<br>
            </text>
          </div>
        </div>
      </div>  
    </div>
  </ul>
  <ul>
    <div class="post">
      <div class="detail_box" style="top: 0;">
        <div class="img_box"><img src="\static\img\gmj_main_4melo.png"></div>
        <div class="description">
          <section class="title_line">
            <text class="title">멜로가 체질</text>
          </section>
          <div class="content">
            <text>이 드라마는 원래 제목때문에 안 봤었다.<br>
              멜로, 사랑이야기 별로 안 좋아하기 때문이다.<br>
              그렇다기엔 한국 드라마는 다 기승전연애지만 어쨌든!<br>
              막상 보니까 술도녀 재질이었다 세 여주가 각각 다 매력이 넘쳐서 모든 장면들이 다 재밌었던 거 같다.<br>
              역시나 세부 내용은 잘 기억이 안 난다.<br>
              조만간 정주행 해야겠다~<br>
            </text>
          </div>
        </div>
      </div>  
    </div>

    <div class="post">
      <div class="detail_box" style="top: -70px;">
        <div class="img_box"><img src="\static\img\gmj_main_5school.jpg"></div>
        <div class="description">
          <section class="title_line">
            <text class="title">학교2013</text>
          </section>
          <div class="content">
            <text>이종석 나오는 드라마는 웬만하면 다 좋아한다.<br>
              그 시작이 바로 학교2013!<br>
              당시에 본방으로 재밌게 봤고 성인 되기 전에도 1~2번 정주행했다.<br>
              약 1년 전 갑자기 땡겨서 정주행 했는데 뭔가 오글거리는 게 많더라.<br>
              그래도 처음부터 끝까지 재밌게 잘 봤다.
            </text>
          </div>
        </div>
      </div>  
    </div>
  
    <div class="post">
      <div class="detail_box" style="top: -30px;">
        <div class="img_box"><img src="\static\img\gmj_main_6pinocchio.jpg"></div>
        <div class="description">
          <section class="title_line">
            <text class="title">피노키오</text>
          </section>
          <div class="content">
            <text>내 최애 드라마<br>
              족히 3번은 본 것 같은데 역시나 내용이 잘 기억 안 난다.<br>
              그 말은 정주행 할 때가 됐다는 것.<br>
              올해 안에 정주행하는 걸 목표로 해보겠다.<br>
              신방과를 가긴 했지만 이 드라마를 보고 간 건 아니다.<br>
              오히려 여기서 마와리 도는 거 보고 기자는 절대 안 해야지 생각했다.
            </text>
          </div>
        </div>
      </div>  
    </div>
  </ul>
  </section>
</section>

{% endblock %}
